<!doctype html>
<html>
    <head>
        <title>{{ template "title" .}}</title>
        <link href="/assets/css/style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container">
          <ul class="menu">
            <li><a href="/register">Register</a></li>
            <li class="separator"></li>
            <li><a href="/login">Login</a></li>
          </ul> 
          {{ template "content" .}}
        </div>
    </body>
</html>
{{ define "title" }}{{end}}
{{ define "content" }}{{end}}
